<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>App Survey</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div id = "index-parent-div" class = "pure-g">
            <div id="leftside" class = "pure-u-1-5"></div>
            <div id="indexDiv" class = "pure-u-3-5">
                <h1>Fancy taking a fun, little survey on your Smartphone app usage?</h1>
                </h1>
                <form action="/decline" method="GET">
                    <button class="pure-button" type="submit" id="decline-button">Decline</button>
                </form>
                <form action="/survey" method="GET">
                    <button class="pure-button" type="submit" id="consent-button">Consent</button>
                </form>

            </div>
            <div id="rightside" class="pure-u-1-5"></div>
    </body>
</html>